@import 'tailwindcss';

@theme inline {
  --color-background: #010402;
  --color-foreground: #ededed;
  --color-primary: #4bc3b5;
  --color-secondary: #d175b7;
  --color-accent: #1c2c54;

  --font-sans: var(--font-geist-sans, 'Inter', sans-serif);
  --font-mono: var(--font-geist-mono, 'Fira Code', monospace);
}

body {
  background-color: var(--color-background);
  color: var(--color-foreground);
  font-family: var(--font-sans);
}
